<link href="~/StyleSheetHome.css" rel="stylesheet" />
@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>Welcome to Ben's Closet</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="~/Outfits/Index" class="btn btn-primary btn-lg">Create &raquo;</a></p>
</div>*@

<div class="myDiv">
    <div class="bg"></div>
    <h1>Welcome to Ben's Closet</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="~/Outfits/Index" class="btn btn-primary btn-lg">Create &raquo;</a></p>
</div>

@*<div class="jumbotron jumbotron-billboard">
    <div class="img"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Welcome to Ben's Closet</h2>
                <p>Lorem ipsum is the best</p>
                <a href="~/Outfits/Index" class="btn btn-primary btn-lg">Create &raquo;</a>
            </div>
        </div>
    </div>
</div>*@

<div class="row">
    <div class="col-md-3">
        <h2>Over the Top!</h2>
        <p>View all of your shirts, sweaters, and sport coats.</p>
        <p><a class="btn btn-default" href="~/Tops/Index">Tops &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Bottoms Up!</h2>
        <p>View all of your slacks, pantaloons, and dungarees.</p>
        <p><a class="btn btn-default" href="~/Bottoms/Index">Bottoms &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Shoes</h2>
        <p>View all of your oxfords, brogues, and boots.</p>
        <p><a class="btn btn-default" href="~/Shoes/Index">Shoes &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Accessorize!</h2>
        <p>View all of your accoutrement.</p>
        <p><a class="btn btn-default" href="~/Accessories/Index">Accessories &raquo;</a></p>
    </div>
</div>