body {
    background-image: url('Content/images/closet.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


.myDiv {
    position: relative;
    z-index: 1;
    padding: 20px;
    color: white!important;
}

    .myDiv .bg {
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: url(Content/images/horizontalBlkPld.jpg) center center;
        opacity: .6;
        width: 100%;
        height: 100%;
    }
    .btn-primary{
        background-color: white!important;
        color: black!important;
        border-color: black!important;
    }
    .btn-default{
        border-color: black!important;
    }

@media screen and (max-width: 768px) {
    .jumbotron {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.homeRow{
    color: white!important;
}



